<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TTSUsername</key>
	<string>your-username</string>
	<key>TTSPassword</key>
	<string>your-password</string>
	<key>STTUsername</key>
	<string>your-username</string>
	<key>STTPassword</key>
	<string>your-password</string>
</dict>
</plist>
